<div class="center jumbotron">
  <h1>Welcome to <br/> <%= image_tag("logo.png", alt: "Meja", :size => "500x130")%></h1>
  <p>
    Buying furniture is incredibly easy <br/>
  </p>
</div>
<br/>
<center><%= image_tag("meja1.jpg", alt: "Meja", :size => "500x350")%></center>
<br/><br/>
<Center><%=image_tag("kursi1.jpg", alt: "Kursi", :size => "500x350")%></center>
