<footer class="footer">
  <small>
    Designed and Developed by <a href="https://linkedin.com/in/ridhanf/">Ridhan Fadhilah</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.instagram.com/furnhubid/">Instagram</a></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "About Us",   about_path %></li>
    </ul>
  </nav>
</footer>
