<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to "FurnHub", root_path, id: "logo" %>
      <!--<%= image_tag("logo.jpg", alt: "logo", :size => "100x50") %>-->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><a href="http://www.tokopedia.com/furnhub/">Store</a></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About Us", about_path %></li>
       </ul>
    </nav>
  </div>
</header>
